<h1>Editing authors book</h1>

<%= render "form", authors_book: @authors_book %>

<br>

<div>
  <%= link_to "Show this authors book", @authors_book %> |
  <%= link_to "Back to authors books", authors_books_path %>
</div>
